<div class="container mt-4 d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-center">در حال بروز رسانی هستیم</h1>
  <h5 class="text-center">داریم یک امکان عالی اضافه میکنیم یا یک باگ کوچولو رو حل میکنیم که با کلی خبر خوب برگردیم</h5>
  <h6 class="text-center">اگر سوالی داشته باشین از طریق اینستاگرام به صورت 12 ساعته پاسخگوی شما خواهیم بود</h6>
  <a href="http://instagram.com/marcato.ir">اینستاگرام</a>
</div>