<div class="container mt-5">
  <h5 class="text-right py-3">ورود به پنل مدیریت</h5>
  <form action="/dashboard/login" method="post" >
    <div class="input-group mb-3">
      <input type="text" name="username" class="form-control" placeholder="نام کاربری">
    </div>
    <div class="input-group mb-3">
      <input type="password" name="password" class="form-control" placeholder="رمز عبور">
    </div>
    <div class="row">
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
</div>