<div class="container mt-5">
  <p>شما در حال حاضر وارد اکانت خود شده اید</p>
  <p>لطفا ابتدا از کاربری خود خارج و دوباره وارد شوید</p>
  <a href="/dashboard/logout" class="btn btn-danger">خارج شدن</a>
</div>