</div> <!-- End .PageWrapper -->
</div> <!-- End .pageContent -->
</main><!-- End .main -->
<footer class="footer footer-2 font-weight-normal second-primary-color" style="background-color: #222">
    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-2-5cols">
                    <div class="widget widget-about mb-4">
                        <img src="/images/logo-white.png" class="footer-logo"
                            alt="Footer Logo" width="105" height="25">
                        <p class="font-weight-light second-primary-color text-light">
                            مارکاتو جایی هستش که به تو کمک میکنه اگر موسیقی رو شروع نکردی ساز مورد نظرت رو با بهترین قیمت و کیفیت تهیه کنی
                            اگرم هنرجوی موسیقی هستی با دوره های آموزش , پادکست های ما کلــــی پیشرفت کنی !
                        </p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title text-white">نیاز به مشاوره و راهنمایی دارید ؟
                                        </span>
                                    <a href="https://instagram.com/marcato.ir" class="btn btn-success text-white">مشاوره رایگان </a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-8">
                                    <span class="pl-3 widget-about-title text-white">روش های پرداخت</span>
                                    <figure class="pl-3 mb-0 mt-2 footer-payments">
                                        <img src="/images/payments.png" alt="Payment methods" width="272"
                                            height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-5cols">
                    <div class="widget mb-4">
                        <h4 class="widget-title text-white">اطلاعات</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="#">خدمات</a></li>
                            <li><a href="#">نحوه خرید</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-5cols">
                    <div class="widget mb-4">
                        <h4 class="widget-title text-white">خدمات مشتری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">شیوه پرداخت</a></li>
                            <li><a href="#">گارانتی بازگشت وجه</a></li>
                            <li><a href="#">شیوه ارسال محصولات</a></li>
                            <li><a href="#">قوانین و مقررات</a></li>
                            <li><a href="#">خط مشی</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-5cols">
                    <div class="widget mb-4">
                        <h4 class="widget-title text-white">حساب کاربری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">ورود</a></li>
                            <li><a href="cart.html">سبد خرید</a></li>
                            <li><a href="#">لیست علاقه مندی ها</a></li>
                            <li><a href="#">پیگیری سفارشات</a></li>
                            <li><a href="#">راهنما</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom font-weight-normal">
        <div class="container">
            <p class="footer-copyright font-weight-light text-light">طراحی و توسعه با ♥ توسط مارکاتو </p>
            <!-- End .footer-copyright -->
            <!-- <ul class="footer-menu justify-content-center">
                <li><a href="#">قوانین و مقررات</a></li>
                <li><a href="#">سیاست حریم خصوصی</a></li>
            </ul> -->

            <div class="social-icons social-icons-color justify-content-center">
                <span class="social-label">مارا در اینستاگرام دنبال کنید</span>
                <a href="http://instagram.com/marcato.ir" class="social-icon social-instagram" title="اینستاگرام مارکاتو" target="_blank"><i
                        class="icon-instagram"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->

    
    <!-- Plugins JS File -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/frontend/jquery.hoverIntent.min.js"></script>
    <script src="/js/frontend/jquery.waypoints.min.js"></script>
    <script src="/js/frontend/superfish.min.js"></script>
    <script src="/js/frontend/owl.carousel.min.js"></script>
    <script src="/js/frontend/bootstrap-input-spinner.js"></script>
    <script src="/js/frontend/jquery.plugin.min.js"></script>
    <script src="/js/frontend/jquery.magnific-popup.min.js"></script>
    <script src="/js/frontend/jquery.countdown.min.js"></script>
    <script src="/js/frontend/nouislider.min.js"></script>
    <script src="/js/frontend/jquery.elevateZoom.min.js"></script>
    <!-- Main JS File -->
    <script src="/js/frontend/main.js"></script>
    <script src="/js/frontend/demo.js"></script>
    <script src="/js/frontend/index.js"></script>
</body>

</html>