<div class="header-middle">
  <div class="container">
      <div class="header-left">
          <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
              <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
              <%- include("../components/form-search.ejs") %>
          </div><!-- End .header-search -->
      </div>
      <div class="header-center">
          <a href="<%- url %>" class="logo" id="websiteLogo">
              <img src="/images/logo.png" alt="marcato" width="82" height="20">
          </a>
      </div><!-- End .header-left -->

      <!-- This is Focus On user.auth-->
      <div class="header-right">
          
        <% if(loggedIn) { %>
            <a href="/user" class="wishlist-link">
                <i class="icon-user"></i>
                <span class="wishlist-txt">ناحیه کاربری</span>
            </a>
        <% } else { %>
            <a href="/user/login" class="wishlist-link">
                <i class="icon-user"></i>
                <span class="wishlist-txt">ورود/ثبت نام</span>
            </a>
        <% } %>

          <div class="dropdown cart-dropdown">
              <a href="/cart" class="dropdown-toggle">
                  <i class="icon-shopping-cart"></i>
                  <span class="cart-txt">سبد خرید</span>
              </a>
          </div><!-- End .cart-dropdown -->

      </div>
  </div><!-- End .container -->
</div><!-- End .header-middle -->