<div class="header-middle">
  <div class="container">
      <div class="header-left">
          <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
              <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
              <form action="#" method="get">
                  <div class="header-search-wrapper search-wrapper-wide">
                      <label for="q" class="sr-only">جستجو</label>
                      <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                      <input type="search" class="form-control" name="q" id="q"
                          placeholder="جستجوی محصول ..." required>
                  </div><!-- End .header-search-wrapper -->
              </form>
          </div><!-- End .header-search -->
      </div>
      <div class="header-center">
          <a href="<%- url %>" class="logo" id="websiteLogo">
              <img src="/images/logo.png" alt="marcato" width="82" height="20">
          </a>
      </div><!-- End .header-left -->

      <!-- This is Focus On user.auth-->
      <div class="header-right">
          
        <% if(loggedIn) { %>
            <a href="/user" class="wishlist-link">
                <i class="icon-user"></i>
                <span class="wishlist-txt">ناحیه کاربری</span>
            </a>
        <% } else { %>
            <a href="/user/login" class="wishlist-link">
                <i class="icon-user"></i>
                <span class="wishlist-txt">ورود/ثبت نام</span>
            </a>
        <% } %>

          <div class="dropdown cart-dropdown">
              <a href="/cart" class="dropdown-toggle">
                  <i class="icon-shopping-cart"></i>
                  <span class="cart-count">2</span>
                  <span class="cart-txt">164,000 تومان</span>
              </a>
          </div><!-- End .cart-dropdown -->

      </div>
  </div><!-- End .container -->
</div><!-- End .header-middle -->