<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">موبایل</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                placeholder="جست و جو در ..." required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                    role="tab" aria-controls="mobile-menu-tab" aria-selected="true">منو</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                    aria-controls="mobile-cats-tab" aria-selected="false">دسته بندی</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="/">خانه</a>
                        </li>
                        <li class="">
                            <a href="/">فروشگاه مارکاتو</a>
                        </li>
                        <li class="">
                            <a href="/">مارکاکَست(پادکست)</a>
                        </li>
                        <li class="">
                            <a href="/">آموزشگاه مارکاتو</a>
                        </li>
                        <li class="">
                            <a href="/">ورود/ثبت نام</a>
                        </li>
                        <li class="">
                            <a href="/">درباره ما</a>
                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                <nav class="mobile-cats-nav">
                    <ul class="mobile-cats-menu">
                        <li>
                            <a href="/products/" class="sf-with-ul">خرید گیتار</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="">خرید ویولن</a>
                        </li>
                        
                        <li>
                            <a href="/products/" class="sf-with-ul">خرید پیانو</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="">کیبورد</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="sf-with-ul">سازهای ایرانی</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="sf-with-ul">سازهای کوبه ای</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="sf-with-ul">ساز های بادی</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="sf-with-ul">سازهای افکت</a>
                        </li>
                    
                        <li>
                            <a href="/products/" class="sf-with-ul">موسیقی کودک</a>
                        </li>
                        
                        <li>
                            <a href="/products/" class="">لوازم جانبی</a>
                        </li>
                    </ul><!-- End .mobile-cats-menu -->
                </nav><!-- End .mobile-cats-nav -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="social-icons">
            <a href="https://instagram.com/marcato.ir" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->