<div class="banner-group-2 mb-4">
  <div class="container">
      <div class="row row-sm">
          <div class="col-md-6">
              <div class="banner bg-image d-flex align-items-center"
                  style="background-image: url(/images/frontend/demos/demo-28/banners/5.jpg);">
                  <div class="banner-content">
                      <h4 class="banner-subtitle mb-1 mt-0 text-light font-weight-normal">میوه تازه
                      </h4>
                      <h3 class="banner-title font-weight-bold">نوشیدنی های اُرگانیک و تازه<br>دریافت
                          <span class="text-primary">25% تخفیف</span> برای اولین سفارش</h3>
                      <a href="#" class="banner-link text-decoration-none">شروع خرید<i
                              class="icon-angle-left"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="banner bg-image d-flex align-items-center"
                  style="background-image: url(/images/frontend/demos/demo-28/banners/6.jpg);">
                  <div class="banner-content">
                      <h4 class="banner-subtitle mb-1 mt-0 text-light font-weight-normal">میوه تازه
                      </h4>
                      <h3 class="banner-title font-weight-bold">بسته بزرگ طبیعی<br>از <span
                              class="text-primary">290,000 تومان</span></h3>
                      <a href="#" class="banner-link text-decoration-none">شروع خرید<i
                              class="icon-angle-left"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>