<div class="icon-boxes-group">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div
                  class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-right">
                  <figure class="m-0">
                      <i aria-hidden="true" class="icon icon-truck text-dark d-inline-flex"></i>
                  </figure>
                  <div class="icon-box-content">
                      <div class="icon-title letter-spacing-normal text-dark">
                          ارسال و پرداخت
                      </div>
                      <p class="text-light font-weight-normal">ارسال رایگان سفارشات بلای 50 هزار تومان
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div
                  class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-right">
                  <figure class="m-0">
                      <img src="/images/frontend/demos/demo-28/social-icons/return.jpg">
                  </figure>
                  <div class="icon-box-content">
                      <div class="icon-title letter-spacing-normal text-dark">
                          مرجوع و بازگشت
                      </div>
                      <p class="text-light font-weight-normal">ضمانت 100% بازگشت وجه</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div
                  class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-right">
                  <figure class="m-0">
                      <img src="/images/frontend/demos/demo-28/social-icons/quality.jpg">
                  </figure>
                  <div class="icon-box-content">
                      <div class="icon-title letter-spacing-normal text-dark">
                          پشتیبانی با کیفیت
                      </div>
                      <p class="text-light font-weight-normal">پشتیبانی آنلاین 24/7</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div
                  class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-right">
                  <figure class="m-0">
                      <img src="/images/frontend/demos/demo-28/social-icons/newsletter.jpg">
                  </figure>
                  <div class="icon-box-content">
                      <div class="icon-title letter-spacing-normal text-dark">
                          عضویت در خبرنامه
                      </div>
                      <p class="text-light font-weight-normal">10 درصد تخفیف با عضویت در خبرنامه ما
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>