<div class="brand-section mt-7 mb-6">
  <div class="container py-2 pt-0">
      <div class="owl-carousel owl-simple rows cols-2 cols-xs-3 cols-md-4 cols-lg-6" data-toggle="owl"
          data-owl-options='{
              "nav": false, "loop": false, "dots": false, "margin":0,"rtl": true, 
          "responsive": {
              "0": {
                  "items":2
              },
              "480": {
                  "items":3
              },
              "768": {
                  "items":4
              },
              "992": {
                  "items":6
              }
          }
      }'>
          <a href="#" class="brand"><img src="/images/frontend/demos/demo-28/logos/1.png"></a>
          <a href="#" class="brand"><img src="/images/frontend/demos/demo-28/logos/2.png"></a>
          <a href="#" class="brand"><img src="/images/frontend/demos/demo-28/logos/3.png"></a>
          <a href="#" class="brand"><img src="/images/frontend/demos/demo-28/logos/4.png"></a>
          <a href="#" class="brand"><img src="/images/frontend/demos/demo-28/logos/5.png"></a>
          <a href="#" class="brand"><img src="/images/frontend/demos/demo-28/logos/6.png"></a>
      </div>
  </div>
</div>