<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
  <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <% array.forEach(item => { %>
          <li class="breadcrumb-item">
            <a href="<%- item.link %>"><%- item.title %></a>
          </li>
        <% }) %>
      </ol>
  </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->