<div class="banner-group-1 mt-1 mb-1">
  <div class="container">
      <div class="owl-carousel owl-simple rows cols-1 cols-sm-2 cols-lg-3" data-toggle="owl"
          data-owl-options='{
          "nav": false, 
          "dots": true,
          "margin": 10,
          "loop": false,
          "rtl": true, 
          "responsive": {
              "0": {
                  "items":1
              },
              "576": {
                  "items":2
              },
              "992": {
                  "items":3
              }
          }
      }'>
          <div class="banner mb-0">
              <a href="#">
                  <img src="/images/frontend/demos/demo-28/banners/banner-1.jpg" width="460"
                      height="210">
              </a>
              <div class="banner-content p-3">
                  <h5 class="banner-subtitle font-weight-normal text-light mb-1">میوه های تازه</h5>
                  <h3 class="banner-title font-weight-bold">میوه های تازه اُرگانیک<br>تا 25% تخفیف
                  </h3>
                  <a href="#" class="banner-link text-decoration-none">شروع خرید<i
                          class="icon-angle-left"></i></a>
              </div>
          </div>
          <div class="banner mb-0">
              <a href="#">
                  <img src="/images/frontend/demos/demo-28/banners/banner-2.jpg" width="460"
                      height="210">
              </a>
              <div class="banner-content p-3">
                  <h5 class="banner-subtitle font-weight-normal text-light mb-1">استاندارد های ما</h5>
                  <h3 class="banner-title font-weight-bold">بسته غذایی فوق العاده<br>از 45,999 تومان
                  </h3>
                  <a href="#" class="banner-link text-decoration-none">شروع خرید<i
                          class="icon-angle-left"></i></a>
              </div>
          </div>
          <div class="banner mb-0">
              <a href="#">
                  <img src="/images/frontend/demos/demo-28/banners/banner-3.jpg" width="460"
                      height="210">
              </a>
              <div class="banner-content p-3">
                  <h5 class="banner-subtitle font-weight-normal text-light mb-1">محصولات غذایی</h5>
                  <h3 class="banner-title font-weight-bold">حالا ذخیره کنید<br>اُرگانیک و بهداشتی</h3>
                  <a href="#" class="banner-link text-decoration-none">شروع خرید<i
                          class="icon-angle-left"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>