<div class="container">
    <h4 class="text-center mt-4">دنبال چه سازی هستی ؟</h4>
  <hr class="m-0">
  <div class="cat-section mt-2 mb-2">
      <div class="row">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/violin.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">ویولن</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">12 مدل مختلف!
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/guitar.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">گیتار</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">20 مدل مختلف!
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/iranian.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">ساز های ایرانی</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">2 محصول
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/piano.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">پیانو</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">2 محصول
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/dvd.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">رسانه آموزشی</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">3 محصول
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/orf.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">موسیقی کودک</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">5 محصول
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/percussion.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">ساز های کوبه ای</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">5 محصول
                      </h4>
                  </div>
              </div>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
              <div class="cat bg-white pt-1 mb-2">
                  <div class="cat-image d-flex justify-content-center align-items-center">
                      <a href="#"><img src="/images/categories/flutes.png" width="137"
                              height="137"></a>
                  </div>
                  <div class="cat-content text-center">
                      <a href="#" class="cat-title">سازهای بادی</a>
                      <h4 class="cat-count letter-spacing-normal d-block font-weight-light">5 محصول
                      </h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>