<div class="container">
  <div class="newsletter-section bg-image d-flex align-items-center justify-content-center mb-1 pt-2 pb-2 px-3"
      style="background-image: url(/images/frontend/demos/demo-28/banners/4.jpg);">
      <div class="banner-content position-relative pt-0">
          <h3 class="newsletter-title font-weight-bold text-center mb-1">تخفیف ویژه جدید</h3>
          <h2 class="newsletter-text font-weight-bold text-center my-4 mt-0"><span
                  class="text-primary">20% تخفیف </span>برای اولین سفارش شما</h2>
          <p class="text-light font-weight-normal text-center mb-2">مشتری جدید : <b
                  class="text-dark">20% ذخیره کنید</b> با ثبت نام و عضویت در خبرنامه ما از آخرین
              محصولات ما با خبر شوید و تخفیف ویژه دریافت کنید ...</p>
          <form action="#">
              <div
                  class="email-get d-flex justify-content-center flex-column flex-sm-row align-items-center align-items-sm-stretch">
                  <input type="email" name="" class="form-control text-light mb-1"
                      placeholder="ایمیل خود را را وارد کنید">
                  <div class="input-group-append">
                      <button class="btn btn-primary mb-1 letter-spacing-normal text-uppercase"
                          type="submit" id="newsletter-btn">
                          <span>عضویت</span>
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>