<form action="/user/register" method="POST">
    <div class="form-group">
      <label for="register-name">نام *</label>
      <input type="text" class="form-control" id="register-name"
          name="name" required>
  </div><!-- End .form-group -->
  <div class="form-group">
    <label for="register-family">نام خانوادگی *</label>
    <input type="text" class="form-control" id="register-family"
        name="family" required>
  </div><!-- End .form-group -->
  <div class="form-group">
      <label for="register-email">شماره تلفن *</label>
      <input type="text" class="form-control" id="register-email"
          name="phone" required>
  </div><!-- End .form-group -->

  <div class="form-group">
      <label for="register-password">رمز عبور *</label>
      <input type="password" class="form-control" id="register-password"
          name="password" required>
  </div><!-- End .form-group -->

  <% if(locals.redirectTo) { %>
    <input type="hidden" value="<%- redirectTo %>" name="redirectTo">
  <% } %>

  <div class="form-footer">
      <button type="submit" class="btn btn-outline-primary-2">
          <span>ثبت نام</span>
          <i class="icon-long-arrow-left"></i>
      </button>
  </div><!-- End .form-footer -->
</form>