<div class="header-dropdown">
    <a href="#">فارسی</a>
    <div class="header-menu">
        <ul>
            <li><a href="#">انگلیسی</a></li>
            <li><a href="#">فرانسوی</a></li>
            <li><a href="#">ترکی استانبولی</a></li>
        </ul>
    </div><!-- End .header-menu -->
</div><!-- End .header-dropdown -->