<div class="modal fade"
 id="<%- id %>" 
 data-backdrop="static" 
 data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="customModalHeader">
        <div class="modalTitle" id="customModalTitle"></div>
      </div>
      <div class="modal-body p-5">
        <div id="customModalText"></div>
      </div>
      <button type="button" class="btn btn-secondary" id="customModalBtn" data-dismiss="modal">بستن</button>
    </div>
  </div>
</div>