
  <div class="container">
      <div class="heading">
          <h2 class="title align-self-center letter-spacing-normal text-center text-md-right">
              پیشنهاد برای شما</h2>
      </div>
      <div class="products owl-carousel owl-simple owl-nav-inside carousel-equal-height rows cols-2 cols-md-3 cols-lg-4 cols-xl-6"
          data-toggle="owl" data-owl-options='{
              "nav": true,
              "dots": true,
              "loop": true,
              "margin": 0,
              "rtl": true, 
          "responsive": {
                  "0": {
                      "items":2
                  },
                  "768": {
                      "items":3
                  },
                  "992": {
                      "items":4
                  },
                  "1200": {
                      "items":6
                  }
              }
          }'>
          <div class="product mb-0 rounded-0 w-100">
              <div class="product-change">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/uploads/2021/1/1.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                      <div class="deal-container inline-type letter-spacing-normal d-block mr-0">
                          <div class="deal-countdown" data-until="+10h"></div>
                      </div>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">نان</a>
                      </div>
                      <h3 class="product-title overflow-hidden letter-spacing-normal">Rye Bread (800g)
                      </h3>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">3,999
                          تومان
                      </div>
                  </div>
                  <div class="product-footer bg-white rounded-0 d-block position-absolute">
                      <div class="ratings-container text-truncate">
                          <div class="ratings">
                              <div class="ratings-val" style="width: 40%;"></div>
                              <a href="product.html" class="ratings-text font-weight-normal">(5
                                  رأی)</a>
                          </div>
                      </div>
                      <div
                          class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                          <a href="#"
                              class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                  به سبد خرید</span></a>
                          <a href="#"
                              class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                  class="icon-heart-o"></i><span>افزودن به لیست علاقه مندی</span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>