<div class="toolbox">
  <div class="toolbox-left">
    <div class="toolbox-sort">
        <label for="sortby">مرتب سازی براساس : </label>
        <div class="select-custom">
            <select name="sortby" id="sortby" class="form-control">
                <option value="popularity" selected="selected">بیشترین خرید</option>
                <option value="rating">جدید ترین</option>
                <option value="date">قیمت (نزولی)</option>
                <option value="date">قیمت (سعودی)</option>
            </select>
        </div>
    </div><!-- End .toolbox-sort -->
  </div><!-- End .toolbox-left -->
</div><!-- End .toolbox -->