<div class="flash-section bg-lighter">
  <div class="container">
      <div class="heading d-flex flex-column flex-md-row">
          <h2 class="title align-self-center letter-spacing-normal text-center text-md-right">فروش
              ویژه
              امروز</h2>
          <div class="d-flex justify-content-center mt-1 mt-md-0">
              <h6
                  class="countdown-title align-self-center mb-0 font-weight-normal letter-spacing-normal">
                  اتمام در : </h6>
              <div class="deal-countdown align-self-center" data-until="+10h" data-compact="true">
              </div>
          </div>
      </div>
      <div class="flash-content mt-2 py-2 pb-7">
          <div class="owl-carousel carousel-equal-height owl-simple rows cols-2 cols-md-3 cols-lg-4 cols-xl-6"
              data-toggle="owl" data-owl-options='{
              "nav": true,
              "dots": true,
              "loop": true,
              "margin": 0,
              "rtl": true, 
          "responsive": {
                  "0": {
                      "items":2
                  },
                  "768": {
                      "items":3
                  },
                  "992": {
                      "items":4
                  },
                  "1200": {
                      "items":6
                  }
              }
          }'>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/images/frontend/demos/demo-28/flash/1.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">سبزیجات</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Broccoli
                              (Each)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">
                          10,590 تومان
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 50%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          54</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 40%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(5
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/images/frontend/demos/demo-28/flash/2.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">نان</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Rye Bread
                              (800g)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">3,999
                          تومان
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 55%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          31</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 40%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(10
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#">
                          <span class="product-label label-top">برتر</span>
                          <span class="product-label label-sale">تخفیف : 30%</span>
                          <img src="/images/frontend/demos/demo-28/flash/3.jpg" width="192" height="192">
                      </a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                      <div class="product-labels">
                      </div>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">غذای دریایی</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Shrimp -
                              Jumbo (5 lb)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">
                          <h4 class="new-price font-weight-bold mb-0">35,800 تومان</h4>
                          <h4 class="old-price font-weight-normal mb-0">42,900 تومان</h4>
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 22%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          10</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 20%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(2
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/images/frontend/demos/demo-28/flash/4.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">سبزیجات</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Tomato
                              (Each)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">8,590
                          تومان
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 75%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          52</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 20%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(2
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/images/frontend/demos/demo-28/flash/5.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                      <div class="product-label label-sale">تخفیف : 30%</div>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">سبزیجات</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Coconut ripe
                              and tasty (Each)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">
                          <h4 class="new-price font-weight-bold mb-0">13,590 تومان</h4>
                          <h4 class="old-price font-weight-normal mb-0">42,900 تومان</h4>
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 55%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          31</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 20%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(2
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/images/frontend/demos/demo-28/flash/6.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">سبزیجات</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Almonds
                              (240g)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">8,590
                          تومان
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 45%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          24</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 20%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(2
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product mb-0 rounded-0 w-100">
                  <figure class="product-media bg-white ">
                      <a href="#"><img src="/images/frontend/demos/demo-28/flash/6.jpg" width="192"
                              height="192"></a>
                      <a href="#" class="btn-product-zoom btn-quickview" data-product-id="260"
                          title="مقایسه سریع"><span></span></a>
                  </figure>
                  <div class="product-body position-static bg-transparent">
                      <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
                          <a href="#">سبزیجات</a>
                      </div>
                      <a href="#">
                          <h3 class="product-title overflow-hidden letter-spacing-normal">Almonds
                              (240g)</h3>
                      </a>
                      <div class="product-price font-weight-bold align-items-center d-flex mb-0">8,590
                          تومان
                      </div>
                      <div class="product-sold position-absolute">
                          <div class="product-sold-val" style="width: 45%;"></div>
                      </div>
                      <span class="sold-text font-weight-normal text-light position-absolute">تعداد
                          فروش :
                          24</span>
                      <div class="product-footer bg-white rounded-0 d-block position-absolute">
                          <div class="ratings-container text-truncate">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 20%;"></div>
                                  <a href="product.html" class="ratings-text font-weight-normal">(2
                                      رأی)</a>
                              </div>
                          </div>
                          <div
                              class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
                              <a href="#"
                                  class="btn btn-product font-weight-normal text-uppercase text-truncate btn-cart btn-outline-primary-2 btn-outline-primary-2"><span>افزودن
                                      به سبد خرید</span></a>
                              <a href="#"
                                  class="wishlist-link-product px-3 ml-0 font-weight-normal mt-1"><i
                                      class="icon-heart-o"></i><span>افزودن به لیست علاقه
                                      مندی</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>