<div class="intro-section bg-image"
    style="background-image: url(/images/frontend/demos/demo-28/background.jpg);">
    <div class="container">
        <div class="owl-carousel inner-carousel owl-simple rows cols-1" data-toggle="owl"
            data-owl-options='{"nav": false, "dots": true,"rtl": true, "loop": true}'>
            <div class="intro-slide"
                style="background-image: url(/images/intro-slider/slider-mom-resized.jpg); background-color: #2a323e;">
                <div class="intro-content intro-content-right">
                    <h6 class="font-weight-normal text-primary my-2 mt-0">تخفیف ویژه</h6>
                    <h3 class="intro-title font-weight-bold text-white mb-0">روز مادر نزدیک ها!
                    </h3>
                    <br>
                    <h3 class="intro-desc mb-2 font-weight-light text-secondary">کد تخفیف 10 درصدی روز مادر در
                        <br>
                        <br>
                        <b>اینستاگرام marcato.ir</b>
                    </h3>
                </div>
            </div>
            <div class="intro-slide"
                style="background-image: url(/images/intro-slider/slider-kalimba-resized.jpg); background-color: #dd6584;">
                <div class="intro-content intro-content-right">
                    <h6 class="font-weight-normal text-white my-2 mt-0">نگران یادگیریش نباش !</h6>
                    <h3 class="intro-title font-weight-bold text-white mb-0">
                        با خرید کالیمبا
                    </h3>
                    <br>
                    <h4 class="intro-desc mb-2 font-weight-light text-white">دوره شروع موسیقی رو
                         <br>
                         <b>هدیه</b><br>
                          بگیرید !</h4>
                </div>
            </div>
        </div>
    </div>
</div>