<div class="intro-section bg-image"
    style="background-image: url(/images/frontend/demos/demo-28/background.jpg);">
    <div class="container">
        <div class="owl-carousel inner-carousel owl-simple rows cols-1" data-toggle="owl"
            data-owl-options='{"nav": false, "dots": true,"rtl": true, "loop": true}'>
            <div class="intro-slide"
                style="background-image: url(/images/frontend/demos/demo-28/intro-slider/1.jpg); background-color: #2a323e;">
                <div class="intro-content intro-content-left">
                    <h6 class="font-weight-normal text-primary my-2 mt-0">فروش ویژه</h6>
                    <h3 class="intro-title font-weight-bold text-white mb-0">فقط اورگانیک<br>جعبه بزرگ
                    </h3>
                    <h3 class="intro-desc mb-2 font-weight-light text-secondary">تا 30% تخفیف</h3>
                    <a href="#" class="btn btn-primary text-uppercase">شروع خرید</a>
                </div>
            </div>
            <div class="intro-slide"
                style="background-image: url(/images/frontend/demos/demo-28/intro-slider/2.jpg); background-color: #dd6584;">
                <div class="intro-content intro-content-right">
                    <h6 class="font-weight-normal text-white my-2 mt-0">پکیج 100% قابل بازیافت</h6>
                    <h3 class="intro-title font-weight-bold text-white mb-0">عالی برای شما<br>و سیاره
                    </h3>
                    <h3 class="intro-desc mb-2 font-weight-light text-secondary">ارسال سریع</h3>
                    <a href="#" class="btn btn-primary text-uppercase">شروع خرید</a>
                </div>
            </div>
        </div>
    </div>
</div>